<h1>Search</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <div>
    <%= form.label :query, "Search for:", :class => "form-label" %>
    <%= form.text_field :query, :value => @query, :class => "form-control" %>
  </div>

  <div>
    <%= form.label :author_id, "Filter by Author:", :class => "form-label mt-3" %>
    <%= form.select :author_id, Author.all.map { |a| [a.full_name, a.id] },
      { :selected => @author_id, :include_blank => true},
      { :class => "form-select" } %>
  </div>

  <div>
    <%= form.submit "Search", :class => "btn btn-outline-info mt-3" %>
  </div>
<% end %>

<% if @query.present? %>
  <p class="mt-3">You searched for '<%= @query %>'</p>

  <h2>Results</h2>

  <% if @books.present? %>
    <p>Hits: <%= @books.count %>

    <ul>
      <% @books.each do |b| %>
        <li><%= link_to b.title, book_path(b) %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p class="mt-3">Ready to Search!</p>
<% end %>



