<%= simple_form_for book do |form| %>

  <%= form.input :title %>

  <div>
    <%= form.input :author %>
  </div>

  <div>
    <%= form.input :description %>
  </div>

  <div>
    <%= form.submit :class => "btn btn-info" %>
  </div>
<% end %>
