<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= button_tag "Add Book", :id => "selectbook", :class => "btn btn-warning", "data-book-id" => @book.id %>

  <%= link_to "Back to books", books_path %>
  
  <%= button_to "Destroy this book", @book, :class => "btn btn-warning mt-3", method: :delete %>
</div>
