<div id="<%= dom_id selection %>">

  <p>
    <strong>Book:</strong>
    <%= selection.book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= selection.book.author.full_name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <% if selection.rating? %>
      <%= selection.rating %>
    <% else %>
      Not Rated!
    <% end %>
  </p>
  
  <p>
    <strong>Status:</strong>
    <% if selection.status? %>
      <%= selection.status %>
    <% else %>
      Status Not Set!
    <% end %>
  </p>

</div>
