
<%= simple_form_for(@goal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :number_of_books %>
    <%= f.input :read_by %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-warning", :method => "get" %>
  </div>
<% end %>
