<p style="color: green"><%= notice %></p>

<div class="card">
  <%= render @goal %>

  <div class="show-button">
    <%= button_to "Edit this goal", edit_goal_path(@goal), :class => "btn btn-info", :method => "get" %>
    <%= button_to "Back to goals", goals_path, :class => "btn btn-warning mx-3", :method => "get" %>

    <%= button_to "Destroy this goal", @goal, :class => "btn btn-danger",  method: :delete %>
  </div>
